:root {
  --primary-intro-email-bg: hsl(217, 28%, 15%);
  --main-bg: hsl(218, 28%, 13%);
  --footer-bg: hsl(216, 53%, 9%);
  --tetimonials-bg: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-white: hsl(0, 0%, 100%);
}

/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap"); */

body {
  background-color: var(--main-bg);
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

header {
  font-size: 2rem;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  margin: 20px;
}

nav {
  padding: 50px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-intro-email-bg);
}
nav ul {
  display: flex;
}
nav li {
  list-style: none;
  margin: 10px;
  font-family: "Raleway", sans-serif;
}

nav a {
  text-decoration: none;
  color: #fff;
}

section.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--primary-intro-email-bg);
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

section.intro p {
  font-size: 1rem;
}

section.intro button {
  margin-top: 10px;
  margin-bottom: 200px;
}

button {
  padding: 15px 0px;
  font-size: 1rem;
  color: #fff;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  border: none;
  border-radius: 150px;
  cursor: pointer;
  width: 220px;
}

section.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

section.features .item-container {
  max-width: 370px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 50px;
}

h2 {
  font-family: "Raleway", sans-serif;
}
section.features h2,
section.features p {
  margin: 0;
  margin-top: 5px;
}

section.features img {
  margin: 15px;
}

section.productive {
  display: flex;
  justify-content: center;
  text-align: left;
  align-items: center;
}

section.productive header {
  text-align: left;
  margin-left: 0;
}

section.productive .info {
  margin: 50px;
  max-width: 500px;
}
section.productive a {
  color: var(--cyan);
  text-decoration: none;
  border-bottom: 1px solid var(--cyan);
}

section.reviews {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

section.reviews .card:nth-child(1) {
  position: relative;
}
section.reviews .card > img {
  position: absolute;
  height: 50px;
  width: 50px;
  left: -10px;
  top: -32px;
  z-index: -1;
}

section.reviews .card {
  width: 350px;
  height: 180px;
  background-color: var(--tetimonials-bg);
  margin: 25px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.card img {
  width: 25px;
  height: 25px;
  border-radius: 50px;
  margin-right: 10px;
}

.card .user-info {
  display: flex;
  align-items: center;
}
.card .user-info p {
  margin: 0px;
}

.user-info .about {
  font-size: 0.6rem;
}

.user-info .name {
  font-size: 0.8rem;
}

footer {
  background-color: var(--footer-bg);
  margin-top: 300px;
  max-height: 600px;
  padding-bottom: 20px;
}

footer .early-access {
  padding: 25px 40px;
  background-color: var(--primary-intro-email-bg);
  border-radius: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.555);
  max-width: 950px;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  transform: translateY(-125px);
}

footer .early-access input {
  padding: 15px 25px;
  border-radius: 150px;
  width: 400px;
  border: none;
  font-family: "Open Sans", sans-serif;
  margin-right: 20px;
  background-color: #fff;
}

footer .info img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.early-access p {
  padding: 10px 100px;
}

footer .footer {
  margin: 0px 80px;
}

footer .footer .info {
  display: flex;
  justify-content: space-between;
}
.footer .horizontal {
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
}

footer .horizontal div {
  margin: 10px;
}
footer .address {
  max-width: 300px;
  display: flex;
  align-items: flex-start;
}

footer .address p {
  margin: 0;
  margin-left: 10px;
}

footer .logo {
  margin: 20px;
}

.footer a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

footer .social img {
  filter: invert(1);
  text-align: center;
  margin: 0;
}

footer .social {
  display: flex;
}
footer .social div {
  border-radius: 50px;
  border: 1px solid #fff;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
